/**
 * file: style.css
 * purpose: styles, animation etc
 **/

/*FontAwesome import*/ 
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"); 


/* CUSTOM FONTS*/
    @font-face {
    font-family: 'ITC Kabel Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Kabel Std Book'), url('ITCKabelStdBook.woff') format('woff');
    }
    @font-face {
    font-family: 'ITC Kabel Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Kabel Std Medium'), url('ITCKabelStdMedium.woff') format('woff');
    }
    @font-face {
    font-family: 'ITC Kabel Std Demi';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Kabel Std Demi'), url('ITCKabelStdDemi.woff') format('woff');
    }
    @font-face {
    font-family: 'ITC Kabel Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Kabel Std Bold'), url('ITCKabelStdBold.woff') format('woff');
    }
    @font-face {
    font-family: 'ITC Kabel Std Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Kabel Std Ultra'), url('ITCKabelStdUltra.woff') format('woff');
    }
/* CUSTOM FONTS SLUT*/

/* OVERORNDET STYLES*/
html, body {
    color: #3e3e3e;
    height: 100%;
    margin: 0;
     background-image: linear-gradient(to right, #ffffff, #d6d6d6, #ffffff);
    font-family: 'ITC Kabel Std Medium';
}
/* OVERORNDET STYLES*/



/*HER ER STYLE TIL NAVBAR*/
ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
    text-align: center;
  top: 0;
  width: 100%;
}
li {
display: inline-block;
}
li a {
  display: block;
  color: #c91335;
  text-align: center;
  padding: 14px 70px;
  text-decoration: none;
    font-family: 'ITC Kabel Std bold';
}
.active {
    background-color: #c91335;
    color: white;
}
li a:hover:not(.active) {
background-color: #326382; 
color: white;
}
/*HER SLUTTER STYLE TIL NAVBAR*/

/*TOP LOGO IMG STYLE*/
.biglogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
max-width: 100%;
    height: auto;
    padding: 25px;
    
}
/*TOP LOGO SLUT*/

/*FOOTER STYLE */

.contact .fa:before {
  display: inline-block;
  opacity: 0.7;
}

.contact li {
  display: inline-block;
  list-style-type: none;
  margin: 0 3em;
  text-align: center;
}

.contact p {
  text-align: center;
}

.contact {
  display: inline-block;
  margin: 0 auto;
  padding-left: 0;
}

.cont {
  text-align: center;
  background-color: #5c6b87;
    color:#fff;
    border-top:solid 8px;
    border-color: #c91335;
    font-size: 12px
}

.overskriftfooter {
    color:#fff;
}

.footerlogo {
    margin-top: 2%;
}

.footerlink{
    color:white;
}

.right{
    padding: 15px 0px;
}





/*STYLE TIL ÅBEN/LUKKET*/

#field_name {
    font-size: 18px;
}

.red {
    color: #c91335;
    text-align: center;
}
.green{
    color: lightgreen;
}
/*STYLE TIL ÅBEN/LUKKET*/

/*FOOTER STYLE SLUT*/


/*FORSIDE CONTENT STYLE*/

/*FORSIDE SIDE BANNER*/
.bannercontainer {
    position: relative;
  text-align: center;
  color: white;
}
.bannertekst {
position: absolute;
    text-shadow: -1px -1px 5px #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.forsidecontentkasse {
    margin: auto;
    width: 60%;
    text-align: center;
}
.forsideinfotekst {
    margin-bottom: -50px;
}
.forsideimg {
      margin-top: 22px;
    opacity: 80%;
    border-top: solid;
    border-bottom: solid;
    border-width: 15px;
    border-color: #523125;
}
/*FORSIDE SIDE BANNER SLUT*/

.komtekst {
    margin-top: 30px;
        font-family: 'ITC Kabel Std Medium';
    font-size: 25px;
}
.aktiontekst {
    font-family: 'ITC Kabel Std Bold';
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 20px;
}
.forsideknap {
    margin-bottom: 70px;
    margin-top: 25px;
    background-color: #c91335;
    width: 150px;
    border-style: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: 'ITC Kabel Std Bold';
}

/*FORSIDE CONTENT SLUT*/


/*STYLE TIL GULVMONTERING*/
.askus {
    background-color: #c91335;
    text-align: center;
    width: 150px;
    border-style: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: 'ITC Kabel Std Bold';
}
.bundknap {
    text-align: center;
    margin-bottom: 40px;
}
.produktcontainer {
    text-align: center;
}
.tilbudimg {
    border-radius: 4px;
}
.tilbud {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
/*STYLE TIL GULVMONTERING SLUT*/

/*MAP & TEXT STYLE*/
.flex-container {
    display: flex;
    text-align: center;
    padding: 10px;
    height: 500px;
}
.flex-child {
    margin: 20px;
    flex: 1;
}  
.flex-child:first-child {
    margin-right: 20px;
} 
#map {
    height: 400px;
    margin: 20px;
        border: 2px solid #326382;
}
.mapoverskrift {
    text-align: center;
}
/*MAP & TEXT STYLE SLUT*/

/*KONTAKT SIDE STYLE*/
#contact {
width: 80%;
background: ;
position: relative;
}
#contact::after {
display: block;
height: 30px;
width: 80%;
left: 5%;
bottom: 0;
position: absolute;
-webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
border-radius: 100%;
z-index: -1;
}
#contact h1 {
background: #C91335;
padding: 0.4em 0 0.1em 0.4em;
color: white;
text-shadow: 0 0.06em 0 #424242;
position: relative;
}
.contactbutton {
    margin-top: -0px; 
background: #C91335;
-webkit-box-shadow: 1px 1px 0 0 #832032,2px 2px 0 0 #832032,3px 3px 0 0 #832032;
box-shadow: 1px 1px 0 0 #832032,2px 2px 0 0 #832032,3px 3px 0 0 #832032;
text-align: center;
display: block;
width: 100%;
height: 50px;
margin-bottom: 2px;
cursor: pointer;
}
.contactbutton:hover {
-webkit-box-shadow: 1px 1px 0 0 #832032,0px 0px 0 0 #832032,0px 0px 0 0 #832032;
box-shadow: 1px 1px 0 0 #832032,0px 0px 0 0 #832032,0px 0px 0 0 #832032;
margin-top: 22px;
margin-left: 2px;
margin-bottom: 0px;
}
.mail {
margin-top: 11px;
font-size: 15px;
display: inline-block;
border-top: 2em solid transparent;
border-left: 2.6em solid #fff;
height: 0;
width: 0;
position: relative;
}
.mail:before {
content: '';
top: -2.5em;
left: -2.95em;
display: block;
position: absolute;
border-top: 1.2em solid #fff;
border-left: 1.6em solid transparent;
border-right: 1.6em solid transparent;
border-bottom: 1em solid transparent;
font-size: 0.8em;
}
.mail::after {
display: block;
content: "";
position: absolute;
border-top: 2em solid transparent;
border-right: 2.6em solid #fff;
height: 0;
width: 0;
left: -2.18em;
bottom: 0;
}
#checkcontact{
position: absolute;
left: -9999px;
}
.contactform {
overflow: hidden;
max-height: 0px;
-webkit-transition: all linear 1s;
-moz-transition: all linear 1s;
-o-transition: all linear 1s;
-ms-transition: all linear 1s;
transition: all linear 1s;
}
#checkcontact:checked + .contactform {
max-height: 1000px;
}
.input_wrapper {
position: relative;
}
.textarea_wrapper textarea {
margin-top: 20px;
display: block;
width: 100%;
background: white;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
color: #5E5E5E;
}
.input_wrapper input[type="text"] {
margin-top: 1em;
display: block;
width: 100%;
background: white;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
color: #5E5E5E;
text-indent: 15%;
}
.input_wrapper input[type="text"]:focus {
background: rgba(242, 56, 90, 0.05);
box-shadow: inset 2px 2px 5px 0 #DADADA;
outline: none;
text-indent: 0;
}
.input_wrapper label {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #C91335;
color: white;
box-sizing: border-box;
width: 15%;
text-align: center;
line-height: 2.8em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
.input_wrapper input[type="text"]:focus + label {
left: 85%;
}
.textarea_wrapper textarea {
margin-top: 20px;
display: block;
width: 100%;
  min-height:150px;
background: white;
border: 1px solid #DADADA;
box-shadow: 0 0 1px 0 #E4E4E4;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
color: #5E5E5E;
}
.textarea_wrapper textarea:focus {
background: rgba(242, 56, 90, 0.05);
box-shadow: inset 2px 2px 5px 0 #DADADA;
outline: none;
}
.submit_wrapper {
text-align: center;
}
.submit_wrapper input {
font-family: 'ITC Kabel Std Medium';
text-align: center;
display: inline-block;
width: 40%;
height: 50px;
margin-top: 1em;
margin-bottom: 6px;
cursor: pointer;
background: #C91335;
color: white;
font-size: 1em;
border: none;

-webkit-appearance: none;
  -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
#subject {
    height: 60px;;
    width: 99%;
}
.kontakttekst {
    padding: 2px;

}
/*KONTAKTFORMULAR STYLE SLUT*/


/*BUTIK SIDE STYLES*/
.butikimg {
    opacity: 70%;
    border-bottom: solid;
}
.meetoverskrift {
    text-align: center;
}
.grid-kasse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
}
.butikinfo {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
#apnd div {
    text-align: center;
    height: 100px; 
    padding: 10px;
        width: 150px;  
    margin-bottom: 10px;
        float: left; 
}
#apnd {
    margin-left: 10;
    margin-bottom: 15%;
}
.person {
    height: 100%;
}
h3 {
    text-align: center;
}

.indrediv {
  display: table;
  margin: 0 auto;
}

.ydrediv {
  width:100%
}

/*BUTIK SIDE STYLES SLUT*/



